{% extends "base.html" %}
{% block head %}
    <title>Nhận diện</title>
{% endblock %}

{% block body %}
<div class="container pt-5 mt-5">
    <h1 class="mt-5 pt-5">Nhận Diện Hoa Quả Hỏng</h1>
    <div class="row g-4">
        <!-- Nhận diện qua Camera -->
        <div class="col-md-6">
            <h3 class="text-center">Nhận diện qua Camera</h3>
            <div class="text-center mb-3">
                <button class="btn btn-primary" id="startBtn" onclick="startCamera()">Bật Camera</button>
                <button class="btn btn-danger" id="stopBtn" onclick="stopCamera()" style="display: none;">Tắt Camera</button>
            </div>
            <div class="preview-box mt-4" id="imagePreview">
                <img id="video" src="" alt="Camera sẽ hiển thị tại đây">
            </div>
        </div>

        <!-- Upload ảnh để nhận diện -->
        <div class="col-md-6">
            <h3 class="text-center">Upload Ảnh để Nhận diện</h3>
            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="text-center">
                <div class="upload-container">
                    <input type="file" name="file" class="form-control mb-2" multiple>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
            {% if uploaded %}
                <div class="preview-box mt-3 text-center">
                    <img src="{{ detected_image  }}" class="image-frame">
                </div>
            {% endif %}

        </div>
    </div>
</div>

<script>
    function startCamera() {
        document.getElementById("video").src = "/video_feed";
        document.getElementById("startBtn").style.display = "none";
        document.getElementById("stopBtn").style.display = "inline";
    }

    function stopCamera() {
        document.getElementById("video").src = "";
        document.getElementById("startBtn").style.display = "inline";
        document.getElementById("stopBtn").style.display = "none";
    }
</script>
{% endblock %}